body {
  background-color: Orange;
   }
 div {
  background-color: Indianred; 
   }

h2 {
 color: Darkgreen;
}
h3 {
  color: Darkgreen;
  }

p {
   color: Darkgreen;
}
.smaller-image {
width: 90px;
}
  .thin-grey-border {
    border-color: silver;
    border-width: 2px;
    border-style: solid;
    border-radius: 1000px;
   }
hr.new1 {
  border-top: 3px solid black;
}
hr.new2 {
  border-top: 3px solid black;
}
hr.new3 {
  border-top: 3px solid black;
}
hr.new4 {
  border-top: 3px solid black;
}
hr.new5 {
  border-top: 3px solid black;
}
hr.new6 {
  border-top: 3px solid black;
}
ul {
   color: Brown;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type=button] {
   background-color: Darkgreen;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
